{% load static %}

<!-- Start Footer Area  -->
<footer class="eduvibe-footer-one edu-footer footer-style-default">

    <div class="footer-top">
        <div class="container eduvibe-animated-shape">
            <div class="row g-5">

                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="edu-footer-widget">
                        <div class="logo">
                            <a href="index.html">
                                <img class="logo-light" src="{% static 'assets/images/logo/logo-footer.png' %}" alt="Site Logo">
                            </a>
                        </div>
                        <p class="description">To be a globally recognized center of excellence in engineering education, research, and innovation, producing skilled professionals who drive technological advancements and contribute to societal development.</p>
                        <ul class="social-share">
                            <li><a href="#"><i class="icon-Fb"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-Pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-Twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

               
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="edu-footer-widget">
                        <h5 class="widget-title">Contact Info</h5>
                        <div class="inner">
                            <div class="widget-information">
                                <ul class="information-list">
                                    <li><i class="icon-map-pin-line"></i>Chelairu Road, Srinivas Nagar, Mukka, Surathkal, Mangaluru, Karnataka 574146
                                    </li>
                                    <li><i class="icon-phone-fill"></i><a href="tel:+918242412382">+91 824 2412382</a></li>
                                    <li><i class="icon-phone-fill"></i><a href="tel:+918242444891">+91 824 2444891</a></li>
                                    <li><i class="icon-mail-line-2"></i><a target="_blank" href="mailto:admission@srinivasuniversity.edu.in">admission@srinivasuniversity.edu.in</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shape-dot-wrapper shape-wrapper d-md-block d-none">
                <div class="shape-image shape-image-1">
                    <img src="{% static 'assets/images/shapes/shape-21-01.png' %}" alt="Shape Thumb" />
                </div>
                <div class="shape-image shape-image-2">
                    <img src="{% static 'assets/images/shapes/shape-35.png' %}" alt="Shape Thumb" />
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area copyright-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <p>Copyright 2022 <a href="https://www.suiet.in">SUIET</a> Designed By <a href="">Webflow Community</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        #google_translate_element select {
  font-size: 10px;
  color: #333;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-te-gadget-simple {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.goog-te-gadget-simple .goog-te-menu-value {
  color: #333;
}

.goog-te-gadget-simple .goog-te-menu-frame {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.goog-te-gadget-simple .goog-te-menu-frame:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
    </style>
</footer>
