{% load static %}


<header class="edu-header  header-sticky header-transparent header-style-2 header-default ">

    <div class="row align-items-center">
        <div class="col-lg-4 col-xl-3 col-md-6 col-6">
            <div class="logo">
                <a href="/">
                    <img class="logo-light" src="{% static 'assets/images/logo/logo-main.png' %}" alt="Site Logo" style="max-height: 64px;">
                </a>
            </div>
        </div>
        <div class="col-lg-6 d-none d-xl-block">
            <nav class="mainmenu-nav d-none d-lg-block">
                <ul class="mainmenu">
                    <li class=""><a href="/">Home</a>
                    </li>
                    <li class="has-droupdown"><a>About</a>
                        <ul class="submenu">
                            <li><a href="https://www.suiet.in/about-us/srinivas-university">About University</a></li>
                            <li><a href="https://www.suiet.in/about-us/Institute-Engineering%20&%20Technology">About Institute</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="https://www.suiet.in/courses">Courses</a>
                    
                    </li>

                    <li class=""><a href="https://www.suiet.in/department">Departments</a></li>


                    <li class=""><a href="https://www.suiet.in/contact-suiet">Contact Us</a></li>


                </ul>
            </nav>
        </div>
        <div class="col-lg-8 col-xl-3 col-md-6 col-6">
            <div class="header-right d-flex justify-content-end">
                <div class="header-menu-bar">

                    <div class="quote-icon quote-user d-none d-md-block ml--15 ml_sm--5">
                        <a class="edu-btn btn-medium left-icon header-button" href="#applynow"><i class="ri-user-line"></i>Apply Now</a>
                    </div>

                </div>

                <div class="mobile-menu-bar ml--15 ml_sm--5 d-block d-xl-none">
                    <div class="hamberger">
                        <button class="white-box-icon hamberger-button header-menu">
                            <i class="ri-menu-line"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'assets/images/logo/logo-main.png' %}" alt="suiet Logo">
                </a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="ri-close-line"></i>
                </button>
            </div>
        </div>
        <ul class="mainmenu">
            <li class=""><a href="/">Home</a>
            </li>
            <li class="has-droupdown"><a>About</a>
                <ul class="submenu">
                    <li><a href="https://www.suiet.in/about-us/srinivas-university">About University</a></li>
                    <li><a href="https://www.suiet.in/about-us/Institute-Engineering%20&%20Technology">About Institute</a></li>
                </ul>
            </li>
            <li class=""><a href="https://www.suiet.in/courses">Courses</a>
            
            </li>

            <li class=""><a href="https://www.suiet.in/department">Departments</a></li>


            <li class=""><a href="https://www.suiet.in/contact-suiet">Contact Us</a></li>


        </ul>
    </div>
</div>
